<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="brand">MyShop</a>

    <a routerLink="/products">Products</a>

    <a *ngIf="isLoggedIn && role === 'admin'" routerLink="/admin">
      Admin Panel
    </a>
  </div>

  <div class="nav-right">
    <span *ngIf="isLoggedIn" class="role">
      Role: {{ role }}
    </span>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-container>
    <a routerLink="/cart" *ngIf="isLoggedIn">Cart</a>
    <a routerLink="/my-orders" *ngIf="isLoggedIn">My Orders</a>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>
