.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  background: #222;
  color: white;
  align-items: center;
}

.nav-left a, .nav-right a {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
}

.nav-right button {
  padding: 6px 12px;
  background: #f44336;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.role {
  margin-right: 15px;
  opacity: .8;
}
